html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  span3{
    background-image: linear-gradient(to right, #ff78fa, #ffb36c, #ffb36c, #ff78fa);
    background-size: 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine3 5s linear infinite;
  }
  @keyframes shine3 {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 1200px;
    }
  }
  #loading-overlay{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: hsl(240 20% 2%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 999;
    pointer-events: none;
    animation: fadeOut 3.5s ease-in-out forwards;

  }
#wifi-loader {
  --background: #62abff;
  --front-color: #fff;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut .5s ease-in-out forwards;
}
@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}
#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: .5px;
}

#wifi-loader .text::before, #wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 12% 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    height: 10px;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
  }
  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    75%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .globe i{
    position: relative;
    font-size: 4rem;
    color: #141414;
    margin: 0;
    margin-top: 2rem;
  }
  .logo {
    position: relative;
    color: black;
    font-size: 2rem;
    margin: 0;
    transform: translateX(-100px);
    margin-right: 7.5rem;
    margin-top: 2rem;
  }
  .special-text{
    color: rgb(107, 93, 255);
  }
  .result {
    background: #121212;
    color: #fff;
    padding: 2.5rem 3rem;
    border-radius: 16px;
    max-width: 700px;
    width: 90%;
    text-align: center;
    margin-top: 2rem;
    box-shadow: 
      0 0 20px rgba(0, 0, 0, 0.25),
      0 0 50px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s forwards;
    margin-top: 14rem;
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
  }

  .result h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  .result pre {
    background: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 1rem;
    font-size: 1rem;
    font-family: Consolas, monospace;
  }

  a {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 1rem;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease;
    font-weight: 600;
    transition: .3s ease-in-out;
  }

  a:hover {
    transform: translateY(-5px);
    transition: .3s ease-in-out;
    background: #333;
  }
  /*.quote{
    text-align: center;
    font-size: 1.2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 2rem;
  }
  .author{
    text-align: center;
    font-size: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #6e6e73;
  }*/
  .footer {
    background: #0F1013;
    color: #fff;
    text-align: center;
    padding: 1.2rem 0;
    font-size: 0.9rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.4);
    width: 100vw;
    bottom: 0;
    height: 40px;
    margin-top: 4rem;
  }
  
  .footer .copyright {
    margin: 1rem;
    font-weight: 550;
    letter-spacing: 0.5px;
  }
  @media (max-width: 755px){
    .globe i{
      text-align: center;
      margin: 0;
      margin-top: 2rem;
      transition: .3s ease-in-out;
    }
    .logo{
      text-align: center;
      margin: 0;
      margin-top: 2rem;
      transition: .3s ease-in-out;
    }
    .result{
      max-width: 70%;
      transition: .5s ease-in-out;
    }
  }